@import "mystagram/fonts";
@import "mystagram/layout";
@import "mystagram/gallery";
@import "mystagram/focus";

:root {
  --color-primary: #4865d9;
  --color-text: #121212;
  --color-background: #fafafa;
  --font-family: "Poppins", sans-serif;
}
