#app {
  position: absolute;
  width: 100vw;
  height: auto;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-family);
  letter-spacing: 0.02em;

  &.fullscreen {
    background: #ececec;
  }
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  color: #121212;
  transition: 0.5s ease all;
  line-height: 1.4;
  margin-top: 1.2em;

  &:after {
    content: "";
    display: block;
    width: 2em;
    border-bottom: 4px solid #4865d9;
    margin: 0.5em 0;
    transition: 0.4s ease all;
  }
}

p,
li {
  line-height: 1.7;
  color: #121212;
  font-size: 1rem;
}

::selection {
  color: #fff;
  background: var(--color-primary);
}

a {
  color: var(--color-primary);
}

header {
  background: #fff;
  margin: 0 0 1em;
  line-height: 3.5em;
  border-bottom: 1px solid #ededed;
  border-top: 3px solid var(--color-primary);
  font-weight: 600;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    .title {
      font-size: 1rem;
      color: var(--color-primary);
      text-decoration: none;
      letter-spacing: 0.4px;
    }
  }

  .menu {
    margin: 0;

    li {
      list-style: none;
      display: inline-block;
    }

    a {
      color: #121212;
      text-decoration: none;
      transition: 0.5s ease all;

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

footer {
  margin: 2em 0 0;
  padding-bottom: 1em;
  line-height: 3.5em;
  text-align: center;
  font-size: 0.9em;
}

.container {
  max-width: 960px;
  margin: 0 auto;

  @media (max-width: calc(960px + 32px)) {
    // 32px = 2em
    margin: 0 1em;
  }
}
